@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%);
  --foreground: #171717;
}

.dark {
  --background: linear-gradient(180deg, #04091B 0%, #091540 100%);
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-neutral-900: #091540;
  --color-neutral-800: #202535;
  --color-neutral-700: #2F364B;
  --color-neutral-600: #535868;
  --color-neutral-300: #C6C6C6;
  --color-neutral-200: #D6E2F5;
  --color-neutral-100: #EEEEEE;
  --color-neutral-0: #FBFDFE;
  --color-red-400: #F25C54;
  --color-red-500: #DE4840;
  --color-red-700: #C7231A;
  --font-sans: var(--font-noto-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
